*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:  relative;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c90d0d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
    
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h2{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #c90d0d;
    background-color: #c90d0d;
    
}

nav .fa{
    display: none;
}

@media (max-width: 700px){

    .header img{
        width: 30%;
    }

    .text-box h2{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
        
    }

    .nav-links{
        position: fixed;
        background: #c90d0d;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2 ;
        transition: 1s;
    }

    nav .fa{
        position: static;
        display: block;
        color: #fff3f3;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

@media (max-width:400px) {
    .header img{
        width: 50%;
    }
}

/* Recipe category */

.recipeCategories{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.recipe-category{
    flex-basis: 50%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}

.recipe-category img{
    width: 100%;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:  30px;
    position: relative;
    overflow: hidden;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.recipe-category:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,2);
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .recipe-category img{
        width: 50%;
        flex-basis: 16%;
        border-radius: 10px;
        margin-bottom:  15px;
        position: relative;
        overflow: hidden;
    }
}

/* Reviews */

.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.review-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.review-col p{
    padding: 0;
}

.review-col h3{
    margin-top: 15px;
    text-align: left;
}

.review-col .fa{
    color: #f44336;
}

@media (max-width:700px) {
    .review-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* Contact us */

.contact-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.contact-us h2{
    font-size: 36px;
    font-weight: 600;
}

.contact-us p{
    color: #fff3f3;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contactUs{
    display: inline-block;
    color: #fff3f3;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 5px;
    transition: 1s;
}

/* Footer */

.footer{
    background-image: linear-gradient(#333,#333);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h2{
    color:#fff3f3;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer .e-mail{
    color: #f44336;
    font-size: 15px;
}

.footer .fa{
    color: #f44336;
}

.footer p{
    color: #fff3f3;
    flex-basis: 50%;
    margin-right: 20%;
    margin-left: 20%;
}

@media (max-width:700px) {
    .footer p{
        flex-basis: 50%;
        margin-right: 10%;
        margin-left: 10%;
    }
}